name: {{name}}
topology:
    nodes:
# for node in nodes:
        {{ node }}:
            kind: ceos
            image: ceos
            binds:
                - {{node}}_interface_map.json:/mnt/flash/EosIntfMapping.json:ro
# endfor
    links:
# for link in links:
        - endpoints: {{link}}
# endfor