name: {{name}}
topology:
    nodes:
        graphite:
            kind: linux
            image: netreplica/graphite:nanog86
            env:
                CLAB_SSH_CONNECTION: ${SSH_CONNECTION}
            binds:
                - __clabDir__/topology-data.json:/htdocs/lab/default/topology-data.json:ro
                - __clabDir__/ansible-inventory.yml:/htdocs/lab/default/ansible-inventory.yml:ro
            ports:
                - 8080:80
            exec:
                - sh -c 'graphite_motd.sh 8080'
            labels:
                graph-hide: yes

# for node in nodes:
        {{ node.name }}:
            kind: {{ node.platform }}
            image: ceos
            binds:
                - {{ node.name }}_interface_map.json:/mnt/flash/EosIntfMapping.json:ro
# endfor
    links:
# for link in links:
        - endpoints: {{link}}
# endfor