name: Pylint

on:
  push:
    branches: [ "main", "dev" ]
    paths:
      - '**.py'
      - '.github/workflows/pylint.yml'
  pull_request:
    branches: [ "main", "dev" ]
    paths:
      - '**.py'
      - '.github/workflows/pylint.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*/*.py')
