name: Publish Python distribution to TestPyPI

on:
    push:
        tags:
            - 'v*rc*'
            - 'v*-dev*'
            - 'v*-alpha*'
            - 'v*-beta*'
    workflow_dispatch:

jobs:
    build:
        name: Build distribution
        runs-on: ubuntu-latest

        steps:
          - uses: actions/checkout@v6
          - name: Set up Python
            uses: actions/setup-python@v6
            with:
                python-version: "3.x"
          - name: Install pypa/build
            run: >-
                python3 -m
                pip install
                build
                --user
          - name: Build a binary wheel and a source tarball
            run: make build
          - name: Store the distribution packages
            uses: actions/upload-artifact@v6
            with:
                name: python-package-distributions
                path: dist/

    publish-to-pypi:
        name: Publish to TestPyPI
        needs:
          - build
        runs-on: ubuntu-latest

        environment:
            name: devtest
            url: https://test.pypi.org/p/nrx

        permissions:
            id-token: write  # IMPORTANT: mandatory for trusted publishing

        steps:
          - name: Download all the dists
            uses: actions/download-artifact@v7
            with:
                name: python-package-distributions
                path: dist/
          - name: Publish distribution to TestPyPI
            uses: pypa/gh-action-pypi-publish@release/v1
            with:
              repository-url: https://test.pypi.org/legacy/
